/*
 * General theme styles
 * Colours for existing material components should go in overrides.css
 */
@import "~normalize.css";

:global(#app) { height:100%; }
header[data-react-toolbox="app-bar"] h1 { overflow-y:hidden; }
body { background-color: #e6e6e6; }
